/* general */
body { padding: 0; margin: 0; background: #222; color: white; text-align: center; font-family: Arial, Helvetica, sans-serif; min-width: 100vw; min-height: 100vh; }
:root { --custom_red: rgb(211, 0, 0); --custom_orange: rgb(214, 139, 0); --custom_green: rgb(0, 155, 0); --custom_cyan: #4ec9b0; --custom_light_blue: #9cdcfe; --custom_dark_blue: #569cd6;}

/* copy info */
#copy_info_wrap { background-color: #333; display: flex; overflow-x: scroll;}
.copy_info { padding: 20px;  margin: auto;}
#copy_info_wrap h2 {font-size: 1.15em; margin-bottom: 1em;}
#copy_info_wrap div {margin-top: 5px;}

/* menu */
#menu { width: 1200px; margin: 30px auto; height: 40px;}

/* containers */
#containers { margin: 20px auto; width: fit-content; }
.container { background-color: #444; float: left; width: 370px; min-height: 50vh; margin: 10px; padding: 10px; border-radius: 10px; }
.container::before { font-weight: bold; text-shadow: #111 0px 0px 4px;}
#todo::before { content: 'TODO'; color: var(--custom_red); }
#progress::before { content: 'In Progress'; color: var(--custom_orange); }
#done::before { content: 'Done'; color: var(--custom_green); }
#trash_bin::before {  content: 'Trash Bin'; }

/* items */
.item { background-color: #333; margin: 10px; padding: 20px; border-radius: 10px; }
h2 { font-size: 18px; margin: 0 auto; width: 230px; }
h2[contenteditable]:focus {outline: 2px dotted #777; outline-offset: 7px;}
h2[contentEditable]:empty:not(:focus):before {content: 'New Item Header' }
p[contenteditable] { padding: 10px; border: 2px solid transparent;}
p[contenteditable]:focus { outline: none; border: 2px dotted #777; }
#todo .item.important { box-shadow: red 0px 0px 5px 2px; }
#progress .item.important { box-shadow: orange 0px 0px 5px 2px; }
#done .item.important { box-shadow: green 0px 0px 5px 2px; }
#trash_bin .item.important { box-shadow: white 0px 0px 5px 2px; }

/* item buttons */
.delete_item { cursor: pointer; border-radius: 100%; width: 1.2em; height: 1.2em; position: absolute; }
.delete_item:hover { transform: scale(1.8); color: red; transition: 0.2s; }
.highlight_item {cursor: pointer; margin-top: -20px; float: right; padding: 0 10px 10px 10px; border-radius: 100%; color: #777; }
.highlight_item:hover {color: white; }
#trash_bin .delete_item { display: none; }
.status_container {width: 100%; min-height: 1px;}
button { cursor: pointer; background-color: transparent; color: white; border: 1px solid white; border-radius: 5px; padding: 10px; width: 100px; }
button:hover { background-color: rgba(150, 150, 150, 0.1); }
button:disabled { border-color: grey; cursor: auto; }
button:disabled:hover { background-color: transparent; }
.todo_button:disabled { border-color: var(--custom_red); color: var(--custom_red); }
.progress_button:disabled { border-color: var(--custom_orange); color: var(--custom_orange); }
.done_button:disabled { border-color: var(--custom_green); color: var(--custom_green); }
.todo_button:hover, .delete_item:hover { background-color: rgba(150, 0, 0, 0.1); border-color: var(--custom_red); }
.progress_button:hover { background-color: rgba(150, 100, 0, 0.1); border-color: var(--custom_orange); }
.done_button:hover { background-color: rgba(0, 150, 0, 0.1); border-color: var(--custom_green); }

/* trash bin */
#trash_bin_icon { cursor: pointer; width: 30px; position: fixed; bottom: 20px; right: 20px; transition: 0.3s; }
#empty_trash_icon {  cursor: pointer; width: 30px; position: fixed; bottom: 70px; right: 20px; transition: 0.3s; }
#trash_bin_icon:hover { transform: scale(1.2);  }

/* Preview mode */
.content_wrap {width: 100%; overflow: hidden; margin: 5px;}
#preview_mode_icon { cursor: pointer; width: 30px; position: fixed; bottom: 20px; left: 20px; transition: 0.3s; }
#preview_mode_icon:hover { transform: scale(1.2); }
.toggle_item_preview { cursor: pointer; background-color: rgba(150, 150, 150, 0.25); border-radius: 10px; width: 100px; height: 15px; 
    position: absolute; margin-left: 105px; margin-top: 10px; opacity: 0; transition: 0.3s; font-size: 10px;
    box-shadow: inset 0 0 10px 2px rgba(150, 150, 150, 1);
}
.toggle_item_preview:hover {  transform: scale(1.2);  transition: 0.5s ease; }
.item[data-preview='false'] .toggle_item_preview::before { content: 'hide';}
.item[data-preview='true'] .toggle_item_preview:before { content: 'extend';}
.item:hover .toggle_item_preview { opacity: 1; }